.elementor-5260 .elementor-element.elementor-element-69b6ce1 .widget-content a {
    color: #222222;
}

.elementor-5260 .elementor-element.elementor-element-69b6ce1 li:hover>a,
.elementor-5260 .elementor-element.elementor-element-69b6ce1 .menu li.current-cat-parent>a,
.elementor-5260 .elementor-element.elementor-element-69b6ce1 .menu li.current-cat>a {
    color: #222222;
}

.elementor-5260 .elementor-element.elementor-element-4cb034f .widget-content a {
    color: #222222;
}

.elementor-5260 .elementor-element.elementor-element-4cb034f li:hover>a,
.elementor-5260 .elementor-element.elementor-element-4cb034f .menu li.current-cat-parent>a,
.elementor-5260 .elementor-element.elementor-element-4cb034f .menu li.current-cat>a {
    color: #222222;
}